<footer class="footer">
  <ul class="row menu nav">
  <div class="container">

     <li class="col-xs-6 col-md-2">
     <img style="margin-top: 12px; width:40px;" src="../images/icons/steem-badge-1.svg">
  <p style="line-height:2rem;">
     &copy; 2017 Steemit Inc.
  </p>
     </li>

     <li class="col-xs-6 col-md-2 col-md-offset-2">
       <h2>USING STEEM</h2>
       <ul>
          <li><a target="_blank" href="https://www.steemit.com">Community App</a></li>
          <li><a target="_blank" href="https://steemd.com">Block Explorer</a></li>
          <li><a href="/documentation/">Documentation</a></li>
          <li><a target="_blank" href="http://github.com/steemit">Github</a></li>
       </ul>
     </li>

     <li class="col-xs-6 col-md-2">
       <h2>STEEM</h2>
       <ul>
          <li><a href="/#intro-ex">Exchanges</a></li>
          <li><a href="/blog/">Blog</a></li>
       </ul>
     </li>

     <li class="col-xs-6 col-md-2">
       <h2>SOCIAL</h2>
       <ul>
         <li><a target="_blank" href="https://steem.slack.com/">Slack</a></li>
         <li><a target="_blank" href="https://www.reddit.com/r/steemit">Reddit</a></li>
         <li><a target="_blank" href="https://twitter.com/steemchain">Twitter</a></li>
         <li><a target="_blank" href="https://www.facebook.com/steemit">Facebook</a></li>
         <li><a target="_blank" href="https://bitcointalk.org/index.php?topic=1410943.0">Bitcointalk</a></li>
       </ul>
     </li>
   <li class="col-xs-6 col-md-2">

   </li>
   </ul>
     </div>

</footer>

 <script src="/js/bootstrap.js"></script>
 <script src="/js/main.js"></script>
 <script src="/js/salvattore.min.js"></script>
 <script src="/js/animatedModal.min.js"></script>
 <script src="/js/jquery.viewportchecker.js"></script>


 <script>
   $("div.navbar-fixed-top").autoHidingNavbar();
 </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
<script>

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);

  });
     $('.vpc').viewportChecker();
});

</script>
<!--
<script>
  var BTSW = window.BTSW || {};
  (function () {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.async = true;
  script.src = 'https://bitshares.openledger.info/widgets/2/w.js?ref='+encodeURIComponent(document.referrer);
  var entry = document.getElementsByTagName('script')[0];
  entry.parentNode.insertBefore(script, entry);
  }());
</script>
-->
<!--
<script>


var HW_config = {
  selector: ".chgl",
  account: "wJR0ex",
  translations: {
    title: "Steemit - Changelog",
    readMore: "Read more",
    labels: {
      "new": "News",
      "improvement": "Updates",
      "fix": "Fixes"
    }
  }
};


</script>

<script async src="//cdn.headwayapp.co/widget.js"></script>-->
