<section  id="intro-doc" class="vpc" data-vp-add-class="random animated fadeIn">
  <a name="whitepaper" />&nbsp;</a>
  <div class="container">
    <div class="row ">
      <div class="col-md-10 col-md-offset-1 mtl mbl ">
        <div class="col-sm-12 mtl">
          <!-- <img class="img-responsive" src="../images/frontpage/ico-wp-2.svg" />-->
        </div>
        <div class="col-sm-12 mtm text-center pbl mbl">

          <h2>Steem White Paper</h2>
          <hr class="steemer">
                    <img class="img-responsive img-retina" src="../images/frontpage/img-wp.svg" />

          <p>
            Collectively, user-generated content has created billions of dollars worth of value for the shareholders of social media companies, such as Reddit, Facebook, and Twitter. Steem supports social media and online communities by returning much of its value to the people who provide contributions by rewarding them with virtual currency.
          </p>
          <p>
            <a class="btn  btn-primary" href="/SteemWhitePaper.pdf" target="_blank">Download</a>
          </p>
        </div>
        <!--   <div class="col-sm-12 col-md-6  mtl text-center">
          <h3>Convertible Notes as a Cryptocurrency</h3>
          <p>Convertible notes are short-term debt instruments that can be converted to equity at a rate determined in the future. A blockchain based token can be viewed as equity in the blockchain whereas a convertible note can be viewed …

          </p>
          <p>
            <hr class="steemer">
            <a class="btn  btn-primary" href="#">Download</a>
          </p>
        </div>-->
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
