<section id="intro-ex" class="vpc" data-vp-add-class="random animated fadeIn">
    <a name="exchanges" />&nbsp;</a>
  <div class="container">
      <h2 class="text-center  ">Exchanges</h2>
              <hr class="steemer">
<div class="col-sm-12">
  <div class="row">
            <!-- Poloniex -->
            <a target="_blank" href="https://poloniex.com/exchange#btc_steem">
                <div class="col-sm-6">
                    <span class="box1">
                        <img class="img-responsive" src="../images/exchanges/ex-polo.png">
                    </span>
                </div>
            </a>

            <!-- Openledger -->
            <a target="_blank" href="https://bitshares.openledger.info/market/OPEN.STEEM_OPEN.BTC">
               <div class="col-sm-6">
                    <span class="box1">
                        <img class="img-responsive" src="../images/exchanges/ex-ol.png">
                    </span>
               </div>
            </a>

            <!-- Bittrex -->
            <a target="_blank" href="https://bittrex.com/Market/Index?MarketName=BTC-STEEM">
                <div class="col-sm-6">
                    <span class="box1">
                        <img class="img-responsive" src="../images/exchanges/ex-bittrex.png">
                    </span>
                </div>
            </a>

            <!-- Shapeshift -->
            <a target="_blank" href="https://shapeshift.io/#/coins">
                <div class="col-sm-6">
                    <span class="box1">
                        <img class="img-responsive" src="../images/exchanges/ex-shapeshift.png">
                    </span>
                </div>
            </a>
  </div> <!-- .row -->

</div><!-- .span6 -->
<!--
      <div class="col-sm-6">
        <div class="row">
            <a href="#">
             <div class="col-sm-6">
                 <span class="box5">col5</span>
             </div>
             </a>
            <a href="#">
             <div class="col-sm-6">
                 <span class="box6">col6</span>
             </div>
             </a>
         </div
      </div>
      </div>  -->

</div>
</div>
</section>
