<section id="intro-faq" class="vpc" data-vp-add-class="random animated fadeIn">
    <a name="faq" />&nbsp;</a>
  <div class="container">
          <h2 class="text-center">FAQ</h2>
                  <hr class="steemer">
    	<div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">

          		<div  class="panel panel-primary">
                      <div class="panel-heading">Frequently asked questions</div>
                          <div class="panel-body">
                            <div class="accordion" id="accordion2">
                              <div class="accordion-group">
                                  <div class="accordion-heading">
                                      <button type="button" class="accordion-toggle list-group-item" data-toggle="collapse" data-parent="#accordion2" data-target="#workOne">
                                          <strong>How is Steem different from tipping platforms?</strong>
                                      </button>
                                  </div>
                                  <div id="workOne" class="accordion-body collapse">
                                       <div class="accordion-inner"></div>
                                          <p class="pam">

                                      Cryptocurrency tipping platforms require users to give something up to reward other for their contributions.  With Steem, rewarding others is as simple as voting for a post, such you may on Reddit, or as you would Like a post on Facebook.    </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="accordion-group">
                                  <div class="accordion-heading">
                                      <button type="button" class="accordion-toggle list-group-item" data-toggle="collapse" data-parent="#accordion2" data-target="#workTwo">
                                        <strong>  How are content creators and curators paid?</strong>
                                      </button>
                                  </div>
                                  <div id="workTwo" class="accordion-body collapse">
                                  <div class="accordion-inner">
                                      <p  class="pam">
The blockchain distributes payouts as 50% Steem Power for voting and 50% Steem Dollars.  Rewards are distributed by the blockchain, similar to how miners are paid by Bitcoin, and occur roughly 24 hours after content and votes have been submitted.

                                      </p>
                                  </div>
                                  </div>
                              </div>
                              <div class="accordion-group">
                                  <div class="accordion-heading">
                                      <button type="button" class="accordion-toggle list-group-item" data-toggle="collapse" data-parent="#accordion2" data-target="#workThree">
                                      <strong>  Why Steem?</strong>
                                      </button>
                                  </div>
                                  <div id="workThree" class="accordion-body collapse">
                                      <div class="accordion-inner">
                                        <p  class="pam">
Steem is a form of esteem, which means to prize or value. Steem is also a homophone for steam, which is frequently associated with power, and a step further, steam powered trains gave influence to English idioms, such as ‘this conversation is picking up steam.’ The associations with prizing, language and empowerment only felt right.
                                        </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
          	</div>

          </div>
    </div>
</section>
