
<section id="intro-who" >
    <div class="container vpc" data-vp-add-class="animated fadeIn " data-vp-remove-after-animation="true">
          <h2 class="text-center">Who should Steem?</h2>
          <hr class="steemer">
      <div class="row text-center">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="col-sm-12">
        <div class="col-md-4">
          <img src="/images/who/ico-who-1.svg" >
          <h3>Entrepreneurs</h3>
          <hr class="steemer-l">
          <p>Take advantage of bringing Steem Dollars to parts of the world that need stability</p>
          <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4">
            <img src="/images/who/ico-who-2.svg" >
          <h3>Content Creators</h3>
          <hr class="steemer-l">
          <p>Be appreciated for the quality of your work by the people you want to reach</p>
            <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
       </div>
        <div class="col-md-4">
            <img src="/images/who/ico-who-3.svg" >
          <h3>Readers</h3>
          <hr class="steemer-l">
          <p>Read through new posts and identify the best content to earn Steem Power and Steem Dollars</p>
            <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
        </div>
      </div>

        <div class="col-sm-12 mtl">
        <div class="col-md-6">
            <img src="/images/who/ico-who-4.svg" >
          <h3>Traders</h3>
          <hr class="steemer-l">
          <p>Earn the spread by helping make the market between Steem and Steem Dollars on the blockchain-based decentralized exchange</p>
            <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-6">
            <img src="/images/who/ico-who-5.svg" >
          <h3>Social Media Sites</h3>
          <hr class="steemer-l">
          <p>Integrate Steem to give your users the opportunity to earn for their posts and their time on your site</p>
            <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
       </div>
</div>
      </div>
    </div>

</div>
</section>
