<section id="intro-video">
    <a name="video" />&nbsp;</a>
  <div class="container vpc" data-vp-add-class="animated fadeIn " data-vp-remove-after-animation="true">
      <h2 class="text-center  ">Watch the video…</h2>
              <hr class="steemer">
                <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
    <div class="wrapper-video pal">
        <div align="center" class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/xZmpCAqD7hs" frameborder="0" allowfullscreen></iframe>
</div>

    </div>


  </div> <!-- .row -->
</div><!-- .span6 -->

</div>
</section>
