<section id="intro-press" class="vpc" data-vp-add-class="animated fadeInUp" data-vp-remove-after-animation="true">
    <a name="press" />&nbsp;</a>
    <div class="container">
       <div class="row">
               <h2 class="text-center">In the press</h2>
                       <hr class="steemer">
 		<div class="col-sm-12 col-md-6 ">
 			<div class="row">
                 <div class="col-sm-12 col-md-6">
                     <span class="box2">
                       <a href="http://cointelegraph.com/news/steemit-new-social-media-platform-which-pays-you-to-post" target="_blank"><img class="img-responsive" src="../images/press/press-coindesk.png"></a>
                      </span>
                 </div>
                      <div class="col-sm-12 col-md-6">
                               <span class="box2">
                                <a href="https://coinreport.net/steemit-rewards-social-media-content-creators-cryptocurrency/" target="_blank">
                                  <img class="img-responsive" src="../images/press/press-coinreport.png">
                                </a>
                                </span>
                           </div>

 			</div> <!-- .row -->
 		</div><!-- .span6 -->

          <div class="col-sm-12 col-md-6">
          	<div class="row">
                 <div class="col-sm-12 col-md-6">
                     <span class="box2">
                       <a href="http://www.the-blockchain.com/2016/05/03/new-blockchain-social-media-platform-steemit-pays-post-vote-online/" target="_blank" >
                       <img class="img-responsive" src="../images/press/press-theblkchn.png">
                       </a>
                      </span>
                 </div>

                      <div class="col-sm-12 col-md-6">
                               <span class="box2">
                                <a href="#" target="_blank"> <img class="img-responsive" src="../images/press/press-forbes.png">
                                </span>
                           </div>

             </div>
          </div>
  </div>
</div>
</div>
</section>
