

<section id="intro-testimonial">
    <a name="testimonial" />&nbsp;</a>
  <div class="container">
      <h2 class="text-center">What people are saying…</h2>
      <hr class="steemer">
<div class="row">
                    <div class="col-md-12" data-wow-delay="0.8s">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="../images/testimonials/img-wps-tatjana.jpg" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="../images/testimonials/img-wps-james.jpg" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="../images/testimonials/img-wps-adam.jpg" alt="">
                                </li>
                            </ol>

                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner text-center">

                                <!-- Quote 1 -->
                                <div class="item active">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">

                                                <p>I just made my first post to Steem. I really love the concept and I am excited to see what comes next.</p>
                                                <small>Tatiana Moroz, Singer, Songwriter, Innovator</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 2 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">

                                                <p>
Steem has tremendous potential. Its innovative way to reward both content creation and voting consensus may solve problems found with typical social media services.</p>
                                                <small>James Stroud, CEO, CryptoCertify</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 3 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">

                                                <p>Steem is one of the most interesting blockchain projects I've seen this year.</p>
                                                <small>Adam B. Levine, Founder of the Let’s Talk Bitcoin podcast, the LTB Network, and Tokenly
</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>

                            <!-- Carousel Buttons Next/Prev -->
                            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
</div>
  </div>
</section>
