// Colors

$primary-color: rgba(77, 104, 146, 1);
$secondary-color: rgba(167, 184, 209, 1);
$third-color: rgba(255, 200, 87, 1);

$link-color: rgba(0, 57, 107, 1);


$bg-dark:rgba(0, 57, 107, 1);
$bg-light: rgba(238, 241, 246, 1);

$bg-light-color:	rgba(0, 57, 107, 1);
$bg-dark-color: rgba(238, 241, 246, 1);



$success-color: rgba(75, 162, 242, 1);
$warning-color: rgba(255, 200, 87, 1);
$info-color: rgba(0, 57, 107, 1);

$primary-font: "Source Sans Pro";
$secondary-font: "Source Sans Pro";

.alpha60 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
