<section id="intro-faq">
  <div class="container">
               <h2 class="text-center">FAQ</h2>
                <hr class="steemer">
      <div class="row">
          <div id="grid" data-columns>
                <div class="panel panel-primary">
                    <div class="panel-heading">Is Steem a Micropayment Platform?</div>
                    <div class="panel-body">All rewards are paid by the network, this is not a micropayment platform. </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Who pays all of the rewards?</div>
                    <div class="panel-body"> The community benefits more from every user interaction than any individual. When one person takes the effort to post something as simple as cat picture, many people benefit from sharing the experience. Posting a cat picture takes effort and incurs an opportunity cost on the poster. Their reward for sharing is positive feedback from others who liked the content. It is fair to say that the value of positive feedback is worth so little on its own that the poster would rarely pay anything to share. The same equation holds true for those who get to see the cat picture. The value of that individual experience is so low that the mental cost of choosing to pay or tip the poster is greater than the value of even the cutest cat picture.</div>
                </div>

                <div class="panel panel-primary">
                      <div class="panel-heading">Why doesn’t Steem make readers, posters, or voters pay?</div>
                      <div class="panel-body">
                        <p>Centralized social media such as Facebook and Twitter convert user contributions into billions of dollars for shareholders. Steem is a decentralized platform that introduces a new approach to financially incentivise users to contribute and curate content without the pitfalls of micropayments or ads. What makes Steem unique is that it recognizes that the combination of individual user contributions is worth much more than the sum of the individual contributions. Steem can pay for unlimited individual contributions with a share in the whole because the cost of an individual contribution is much less than the value it adds to the whole. The secret is in voting algorithms that are resistant to harmful manipulation.</p>
<p>A group of people can produce more by working together than the combined product of the same group members working individually. An individual contribution to a social network is worthless on its own, but the combined value of all user interactions is worth billions of dollars. If you take the $300 billion value of Facebook and divide it by the total number of shares and likes per year then you end up with an average value of $0.20 per user interaction. Imagine how many more people would contribute to Facebook if they were getting paid $0.20 per like?</p>
</div>
                </div>
          </div>
    </div>
  </div>
    </div>
</section>
